* {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Raleway";
}
header, #features{
    width: 100%;
}
header{
    margin: auto;
}
#header{
    max-width: 100%;
    height: auto;
}
#logo{
    position: absolute;
    top: 30px;
    left:40px;
}
#nav-icon{
    position: absolute;
    top: 20px;
    right:40px;
    color: white;
}
header hr{
    display: none;
}
ul{
    position: absolute;
    width: 100%;
    top:50px;
    list-style-type: none;
    z-index: 2;
    background-image: url('header.jpg');
    display: none;
}
li{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: translateX(350px);
    background-image: url('header.jpg');
}
ul a{
    color: rgb(167, 171, 183);
    font-weight: bold;
}
ul a:hover{
    color: white;
}
h1{
    position: absolute;
    top: 70px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    text-align: center;
    width: 100%;
}
header p{
    position: absolute;
    top: 170px;
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
}
#p-new-line{
    display: none;
}
#button-container{
   position: absolute;
   top:270px;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}
button{
    text-transform: uppercase;
    text-decoration: none;
    border:1px solid transparent;
    padding: 10px 40px;
    font-size: 10px;
    border-radius: 3px;
    background-color: rgba(232,69,70,255);
    font-weight: normal;
    color: white;
    cursor: pointer; 
}
button:hover{
    background-color: rgb(206, 35, 35);
}

/* ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    h1{
        top:100px;
        font-size: 40px;
    }
    header p{
        top: 240px;
        font-size: 18px;
    }
    #button-container{
        top:360px;
    }
    button{
        font-size: 15px;
    }
    li{
        font-size: 30px;
    }
}
/* ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 992px) {
    h1{
        top:160px;
        font-size: 44px;
    }
    header p{
        top: 300px;
        font-size: 22px;
    }
    #button-container{
        top:450px;
    }
    button{
        font-size: 18px;
    }
    li{
        font-size: 30px;
    }
    #nav-icon{
        display: none;
    }
    ul{
        display: block;
        background-image: none;
        top:20px;
        left:7%;
    }
    li{
        background-image: none;
        float: left;
        font-size: 15px;
        padding: 10px;
    }
    ul a{
        text-decoration: none;
    }
    header hr{
        display: inline-block;
        position: absolute;
        top:100px;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 90%;
    }
    #logo{
        top: 50px;
        left:100px;
    }
}
/* ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    #button-container{
        top:75%;
    }
    header p{
        top: 55%;
        font-size: 20px;
    }
    h1{
        top:30%;
        font-size: 60px;
    }
    #p-new-line{
        display: block;
    }
    ul{
        top:20px;
        left:15%;
    }
    li{
        font-size: 15px;
    }
    header hr{
        top:100px;
        width: 80%;
    }
    #logo{
        left:10%;
    }
}


#features{
    margin-top: 16%;
    text-align: center;
    width: 100%;
}
#features p{
    color: rgba(167,168,170,255);
    font-weight: lighter;
}
.feature{
    float:left;
    width:20%;
    margin-left: 3%;
    margin-right: 4%;
    margin-bottom: 3%;
    padding-left: 5%;
}
.feature h3{
    text-transform: uppercase;
    font-weight: bold;
}
#gallery{
    max-width: 100%;
    padding-top: 35%;
    margin-bottom: 55%;
}
.work img{
    float: left;
    max-width:24.85%;
    height:max-content;
    border: 1px solid white;
}
.overlay{
    position: absolute;
    width: 24.85%;
    background-color: rgba(221, 67, 67, 0.8);
    color: white;
    text-align: center;
    height: 46.5%;
    left: 50%;
}
.overlay h4,.overlay p{
    position: relative;
    top:40%;
}
#people{
    max-width: 100%;
    margin: 0 2% 102% 2%;
}
.person h4{
    text-transform: uppercase;
    color: red;
    font-weight: lighter;
}
.person{
    float: left;
    max-width:20%;
    margin-left: 4%;
}
.person h3{
    color: black;
    font-weight: normal;
}
.person p{
    text-align: justify;
    color: rgba(135,139,141,255);
    font-weight: normal;
}
.fab{
    margin-right: 2%;
    border: 1px solid rgba(201,202,204,255);
    padding: 5%;
    max-width: 20%;
    max-height: 20%;
    color: rgba(201,202,204,255);

}
.fa-facebook-f{
    padding: 5% 6%;
}
#carousel{
    max-width: 100%;
    display: flex;
    flex-direction: row; 
    margin-bottom: 10%;
    height: 500px;
}
.image-container{
    width: 50%;
    height: 100%;
    display: none;
}
.image-container img{
    width: 100%;
    height: 100%;
}
#rightside{
    width: 50%;
    background-color: rgba(82,53,73,255);
}
#rightside p{
    color: white;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 20%;
}
#rightside #quote{
    font-size: 150%;
    padding-top: 10%;
    font-family: "Cardo";
    font-style: italic;
}
#rightside #person{
    text-transform: uppercase;
    font-weight: bold;
}
#dot-container{
    margin-top: 30px;
    margin-left: 45%;
}
.dot{
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgba(117,94,110,255);
    border-radius: 50%;
    display: inline-block;
}
#download{
    max-width: 100%;
    margin-bottom: 10%;
    text-align: center;
}
#download h2{
    color: rgba(63,63,64,255);
}
#download a{
    color: white;
    border-radius: 1%;
    background-color: rgba(232,69,70,255);
    text-transform: uppercase;
    text-decoration: none;
    border:2% solid transparent;
    padding: 1% 8%;
    font-size: 110%;
    font-weight: normal;
}
#download a:hover{
    background-color: rgb(206, 35, 35);
}
#download h2{
    font-weight: lighter;
}
#download h4{
    margin-bottom: 6%;
    text-transform: uppercase;
    font-weight: bold;
}
footer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
footer #contacts{
    max-height: 70%;
    background-color: rgba(58,62,99,255);
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 4% 10%;
}
footer #rights{
    max-height: 30%;
    background-color: rgba(49,52,85,255);
    text-align: center;
    color: rgba(92,93,112,255);
    padding: 1% 0;
    font-weight: lighter;
}
#contacts h4{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#contacts p{
    color: rgba(128,132,161,255);
    font-weight: lighter;
}
#share .fab{
    border: 2px solid white;
    color: white;

}
#hearts{
    color: red;
}
#by{
    color: white;
}
#location, #share, #about{
    max-width:25%;
    margin-left: 16%;
}




